h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
  img {
    float: left;
    width:  200px;
    height: 300px;
    object-fit: cover;
}

/* p {
    text-align: center;
} */

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

body {
    background-color: lightblue;
    text-align: center;
  }
  
  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
  }
  
/* .center_home {
    position: absolute;
 
} */

.center_home img{
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: 400px;
}

/* .img_fluid{
   padding: auto;
} */